body {
	font-family:Arial,sans-serif;
	font-size:1em;
	text-align:center;
}
a {
color:#030377;
}
#container {
	margin:auto;
}
#header {
	clear:both;
	height:80px;
	position:relative;
	text-align:left;
	width:100%;
}
#header .header_left img {
border:0 none;
}
#header .header_left {
	background-color:transparent;
	float:left;
	height:100%;
	left:14px;
	margin-top:10px;
	position:absolute;
	top:6px;
	width:220px;
}
#header .header_right {
	background-color:transparent;
	float:left;
	height:100%;
	left:240px;
	margin-left:0;
	margin-top:11px;
	position:absolute;
	top:8px;
}
#header_topright {
font-size:13px;
line-height:150%;
margin-right:5px;
position:absolute;
right:3px;
text-align:right;
top:3px;
}

.search_form input {
	margin-right:5px;
}
.search_form input.button {
	width:80px;
}
div#content {
	border-top:1px solid #030377;
	margin:0;
}
#title {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url(/img/fondo_top.gif) repeat-x scroll left top;
	color:#000000;
	font-size:0.9em;
	height:20px;
	margin:0 0 10px;
	padding:3px 5px 0;
	position:relative;
}
#title span.left {
	display:block;
	float:left;
	padding:2px 5px 0 0;
}
#title h1 {
	font-size:17px;
	height:23px;
	margin:0;
	text-align:left;
}
div#container-canvas {
	padding:0 180px;
}
div#container-canvas-wrapper {
	text-align:left;
	width:100%;
}
div#centerleft {
	float:left;
	margin:0 0 0 -170px;
	padding:0;
	width:100%;
}
div#center {
	float:right;
	font-size:0.8em;
	margin:0 -170px 0 0;
	padding:0;
	width:100%;
}
div#center-padd {
	padding:0 15px 0 10px;
	position:relative;
	z-index:2;
}
div#left {
	border-right:1px solid #CCCCCC;
	float:left;
	overflow:hidden;
	padding:0 0 8px;
	position:relative;
	width:169px;
}
#filter_frm {
	margin:0;
	padding:0;
}
#left .filters {
	font-size:14px;
	margin-bottom:1em;
	margin-top:7px;
	padding:0.5em;
}
.filters h5 {
	color:black;
	font-size:12px;
	font-weight:bold;
	line-height:17px;
	margin:0;
	padding:0;
}
.filters h5 span {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/img/ico_triangulo_down.gif) no-repeat scroll 0 5px;
	padding:0 0 0 12px;
}
.filters ul {
	margin:0.5em 0 1.3em;
	padding:0;
}

.filters ul li {
	font-size:11px;
	line-height:1.6em;
	list-style-type:none;
	margin-left:11px;
}

.filters ul li a.cav {
	display:block;
	height:18px;
	left:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	overflow:hidden;
	padding:0 35px 0 0;
	position:relative;
	text-decoration:none;
	top:0;
	width:115px;
}
.filters ul li a.cav span.rel {
	display:inline;
	font-style:normal;
	position:relative;
}
#homes .filters ul li span.a {
	color:#030377;
}
.filters ul li a.cav span.count {
	background-color:white;
	color:black;
	display:block;
	padding:0 0 0 2px;
	position:absolute;
	right:-95px;
	text-align:left;
	top:-3px;
	width:90px;
}
div#center-padd {
	padding:0 15px 0 10px;
	position:relative;
	z-index:2;
}
#ads.empty {
}

#ads {
	border:0 none !important;
	margin:0 0 8px;
}
#similar_cont_padd {
	width:100% !important;
}
#similar_cont {
	font-size:11px;
}
#similar_cont h2, #similar_cont h3, #similar_cont p.more {
	display:inline;
	font-size:11px;
	font-weight:normal;
}
#similar_cont .return {
	display:none;
}
#similar_cont .clear20 {
border:0 solid red;
height:10px !important;
line-height:0;
}
#ads.empty #adContainer-bg, #ads.empty #adContainer-out, #ads.empty #adContainer, #ads.empty #adContainer-bg-top {
background-image:none;
padding-right:0;
}
#adContainer-bg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EFF3FB url(/img/adContainer-border-bg.gif) repeat-y scroll right top;
position:relative;
z-index:2000;
}
#adContainer-out {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/img/adContainer-border-bottom.gif) no-repeat scroll right bottom;
}
#adContainer-bg-top {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/img/adContainer-border-bottom.gif) no-repeat scroll right top;
}
#adContainer {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/img/adContainer-border.gif) repeat-y scroll right top;
border-right:0 none;
height:auto !important;
left:0;
padding-right:10px;
position:relative;
top:0;
z-index:2;
}
.order {
clear:both;
width:100%;
}
.clear20 {
clear:both;
height:20px;
}
.result {
border-bottom:1px solid #C4D8E2;
margin-bottom:2em;
padding-bottom:5px;
position:relative;
width:100%;
}
.result .info {
float:left;
width:100%;
}
.result .info .price {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
display:block;
float:right;
font-size:18px;
font-weight:bold;
margin:0;
padding:0;
text-align:right;
width:25%;
}
.result .info .ad_title {
font-size:16px;
font-weight:normal;
margin:0;
padding:0;
width:70%;
}
a.ad {
color:#030377;
}
.result .info .address {
color:#555555;
margin:0;
padding:2px 0 0;
width:70%;
}
.result hr {
display:none;
}
.clear {
clear:both;
font-size:0;
margin:0;
padding:0;
}
.result .description {
float:left;
line-height:135%;
margin:5px 0 0;
padding:0;
position:relative;
text-align:left;
width:83%;
}


.result .description div {
display:block;
float:left;
position:relative;
text-decoration:none;
margin:5px 25px 10px;
}

.result img.image {
border:1px solid #C6C6C6;
display:block;
margin:0 1em 0 0;
padding:2px;
}
.result .description .legend_photo_img {
bottom:3px;
left:3px;
position:absolute;
text-decoration:none;
}
.legend_photo_img {
background-color:#030377;
bottom:3px;
color:white;
font-size:8pt;
left:3px;
padding:2px;
}
.result .data {
float:right;
margin:3px 0 0;
padding:0;
text-align:right;
width:15%;
}
.result .origin {
border:1px solid white;
color:#666666;
margin:5px 0 0;
text-align:left;
}
.tools {
float:right !important;
margin:0;
padding:0;
white-space:nowrap;
}
div#right {
float:right;
margin-right:-175px;
overflow:hidden;
padding:0 0 8px;
position:relative;
width:180px;
z-index:1;
}
div#rss {
font-size:0.8em;
margin-top:15px;
text-align:left;
}
div#rss a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/img/ico_rss.png) no-repeat scroll 0 2px;
padding-left:1.4em;
}
div#social_share {
font-size:0.8em;
margin-top:15px;
text-align:left;
}
div#social_share a {
padding-left:1.4em;
}
#footer {
font-size:0.75em;
margin:5px 5px 0;
padding-bottom:16px;
padding-top:16px;
text-align:center;
border-top:1px solid #030277;
color:#030377;
}

#user {
color:#030377;
}

div#user em{
background: #FFF1A8;
font-style: normal;
font-weight: bold;
padding: 2px 4px;
}