@CHARSET "UTF-8";
body#homes {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/img/fondo_top.gif) repeat-x scroll left top;
color:#030377;
font-family:arial,helvetica,sans-serif;
margin:0;
padding:0;
text-align:center;
}
#user {
font-size:0.8em;
padding-right:1em;
padding-top:0.5em;
text-align:right;
}
div#user em{
background: #FFF1A8;
font-style: normal;
font-weight: bold;
padding: 2px 4px;
}
	
body#homes a {
color:#030377;
}
#container {
margin:0 auto;
padding:0;
text-align:left;
width:760px;
}
#logo {
height:105px;
left:50%;
margin-left:-181px;
margin-right:auto;
margin-top:15px;
position:absolute;
text-align:center;
top:15px;
width:350px;
}
#logo h1 {
font-size:14px;
font-weight:bold;
margin:0 5px 0 0;
padding:0;
text-align:right;
}
#content {
display:block;
font-size:0.8em;
padding-top:12em;
}
.mbottom {
margin-bottom:50px;
padding:0;
}
form#search_engine {
clear:both;
height:50px;
margin:0 auto;
padding:0.5em 0.5em 1em 1.3em;
width:650px;
}
.form_bg_homes {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/img/form_bg_gris.gif) repeat-x scroll left top;
}
.advanced_search {
display:inline;
font-size:0.8em;
}
#extra {
position:relative;
width:600px;
}
div.example {
color:#666666;
float:left;
font-size:0.9em;
margin:0;
padding-top:0.5em;
}
.n_ads {
font-weight:normal;
margin-top:50px;
text-align:right;
}
.n_ads h5 {
font-size:1.2em;
}
#examples {
font-size:0.95em;
margin:0 auto 40px;
width:650px;
}
.border_homes {
border-bottom:1px solid #666666;
}
#examples h5 {
color:#666666;
font-size:1em;
margin:0;
padding-bottom:3px;
}
#examples ul {
font-size:0.95em;
margin:5px auto 0;
padding:0 0.1em;
width:650px;
}
#examples ul li {
float:left;
list-style-type:none;
padding:0.3em 0.8em;
width:30%;
}
.clear, .clearIndex {
clear:both;
font-size:0;
margin:0;
padding:0;
}
clearIndex {
padding-top:5px;
}
#footer {
font-size:1em;
margin:0 auto 10px;
text-align:center;
}
