body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.zf-red {
    color: #FE2E2E;
}


.btn-success {
  background-color: #a90329;
  background-image: -moz-linear-gradient(top, #6d0019, #a90329);
  background-image: -ms-linear-gradient(top, #6d0019, #a90329);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d0019), to(#a90329));
  background-image: -webkit-linear-gradient(top, #6d0019, #a90329);
  background-image: -o-linear-gradient(top, #6d0019, #a90329);
  background-image: linear-gradient(top, #6d0019, #a90329);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d0019', endColorstr='#a90329', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #a90329;
}

.btn-success:active, .btn-success.active {
  background-color: #a90329;
}

div.container a.brand {
    /*background: url("../img/logo200.gif") no-repeat scroll 0 10px transparent;*/
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
